.frame {
  border: 50px solid red;
  width: 500px;
  padding: 50px;
  margin: 20px auto;
}

.canvas {
  width: 500px;
  height: 600px;
  background-color: black;
  padding: 1px;
  overflow: hidden;
}

.one {
  width: 425px;
  height: 150px;
  background-color: blue;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px blue;
  border-radius: 9px;
  transform: rotate(-0.6deg);
}

.two {
  width: 475px;
  height: 200px;
  background-color: yellow;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px yellow;
  border-radius: 8px;
  transform: rotate(0.4deg)
}

.one, .two {
  filter: blur(1px);
}

.three {
  width: 91%;
  height: 28%;
  background-color: greenyellow;
  filter: blur(2px);
  margin: auto;
  box-shadow: 0 0 5px 5px greenyellow;
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}